.left-box__img{
    object-fit: cover;
    width: 100%;
    
}


@media only screen and (max-width: 992px) {
  
   .left-box__list{
       flex-direction: column;
   }
  
}


@media only screen and (max-width: 767px){
   .avangard{
       flex-direction: column;
       max-width: 100%;
   }

   .left-box{
       width: 100%/important;

   }
}

@media only screen and (max-width: 392px){
    .btn{
        flex-direction: column;
        margin-bottom: 10px;
    }
}
